.main{
    padding-top: 140px;

    @media(max-width:1070px) {
        padding: 0;
    }
}
.main__content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
