.viselica {
    // max-width: 500px;
    // min-width: 400px;
    // width: 100%;
    // height: 400px;
    background-image: url(../img/pics/viselica.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:540px) {
        width: 400px;
        height: 500px;
    }
}
