.utilits {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
    min-width: 400px;
    max-width:  540px;

    @media(max-width:425px) {
        min-width: 320px;

    }
}
.question {

}
.question__title {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media(max-width:425px) {
        font-size: 30px;

    }
}
.question__template {
    display: flex;
    justify-content: center;
    column-gap: 3px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #635b5b;

    @media(max-width:425px) {
        font-size: 25px;
    }
}
.question__item {
}
.wrong-answers {
}
.wrong-answers__title {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #635b5b;

    @media(max-width:425px) {
        font-size: 30px;
    }
}
.wrong-answers__counter {
}
.wrong-answers__counter--current {
}
.wrong-answers__counter--max-vallue {
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 75%;
    justify-content: center;
    margin: 0 auto;

    @media(max-width:425px) {
        max-width: 100%;

    }
}
.keyboard__item {
}
.keyboard__btn {
    padding: 7px 12px;
    border: 1px solid #000;
    border-radius: 10%;

}